/* Color customization */
:root {
  --primary: #0099FF;
  --primary-legible: hsl(204, 100%, 40%);
  --light-blue: #80d2ff;
  --lighter-blue: #ccedff;

  --font-size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --font-size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --font-size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --font-size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --font-size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --font-size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --font-size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --font-size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* Using Stephanie Eckles's Smol Document Styles https://smolcss.dev/#smol-document-styles */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #222;
}

body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: var(--layout-spacing);
}

footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

article * + * {
  margin-top: 1em;
}

a {
  color: var(--primary-legible);
  text-underline-offset: 0.15em;
}


/* Profile illustration style */

.profile-illustration {
  height: 20rem;
}

/* Post styles */

p.post-date {
  font-size: var(--font-size-500);
}

/* Top navigation */
header {
  width: 100%;
}

.top-navigation__list {
  list-style-type: none;
  display: flex;
}
