---
title: Welcome to my blog 👋🏻
layout: layouts/home.njk
description: Anda's blog about technology, design and sometimes cats
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---



<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>