---
title: Anda Popovici
layout: layouts/home.njk
description: Anda Popovici's blog about technology, design and sometimes cats
heading: I'm a software engineer with over 12 years experience on the web
date: Last Modified
---
<div id="posts">
  <h2>Recent blog posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
