<ul class="post-list">
{% for post in postslist | reverse %}
  <li class="post-list__item">
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <p>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <p>
  </li>
{% endfor %}
</ul>
